{% extends 'layouts/default-layout.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/game.css' %}">

<script src="https://kit.fontawesome.com/f7691a6795.js" crossorigin="anonymous"></script>

<div class="body">
    <div class="room-info">
        <div class="room-name">에스파도 스파다</div>
        <div class="room-temp">
            <div class="room-temp-title">
                우리 방 온도
                <i class="fa-solid fa-circle-info temp-info-btn"></i>

                <div class="temp-info-popup" id="temp-popup">
                    <div class="temp-popup-title">온도 기능 설명</div>

                    <div class="popup-header">
                        <div class="header-col">온도 구간</div>
                        <div class="header-col">온도 범위</div>
                        <div class="header-col">질문별 출현율</div>
                    </div>

                    <div class="popup-row green-row">
                        <div class="level-box box-green">
                            <span class="dot dot-green"></span> Green Level
                        </div>
                        <div class="range-box box-green">10 ~ 33%</div>
                        <div class="rate-box">
                            <div class="rate-item">
                                <span class="mini-dot mini-green"></span>
                                <div class="progress-bar"><div class="progress progress-green" style="width: 70%;"></div></div>
                                <span class="percent">70%</span>
                            </div>
                            <div class="rate-item">
                                <span class="mini-dot mini-yellow"></span>
                                <div class="progress-bar"><div class="progress progress-yellow" style="width: 25%;"></div></div>
                                <span class="percent">25%</span>
                            </div>
                            <div class="rate-item">
                                <span class="mini-dot mini-pink"></span>
                                <div class="progress-bar"><div class="progress progress-pink" style="width: 5%;"></div></div>
                                <span class="percent">5%</span>
                            </div>
                        </div>
                    </div>

                    <div class="popup-row yellow-row">
                        <div class="level-box box-yellow">
                            <span class="dot dot-yellow"></span> Yellow Level
                        </div>
                        <div class="range-box box-yellow">34 ~ 66%</div>
                        <div class="rate-box">
                            <div class="rate-item">
                                <span class="mini-dot mini-green"></span>
                                <div class="progress-bar"><div class="progress progress-green" style="width: 20%;"></div></div>
                                <span class="percent">20%</span>
                            </div>
                            <div class="rate-item">
                                <span class="mini-dot mini-yellow"></span>
                                <div class="progress-bar"><div class="progress progress-yellow" style="width: 65%;"></div></div>
                                <span class="percent">65%</span>
                            </div>
                            <div class="rate-item">
                                <span class="mini-dot mini-pink"></span>
                                <div class="progress-bar"><div class="progress progress-pink" style="width: 15%;"></div></div>
                                <span class="percent">15%</span>
                            </div>
                        </div>
                    </div>

                    <div class="popup-row pink-row">
                        <div class="level-box box-pink">
                            <span class="dot dot-pink"></span> Pink Level
                        </div>
                        <div class="range-box box-pink">67 ~ 100%</div>
                        <div class="rate-box">
                            <div class="rate-item">
                                <span class="mini-dot mini-green"></span>
                                <div class="progress-bar"><div class="progress progress-green" style="width: 15%;"></div></div>
                                <span class="percent">15%</span>
                            </div>
                            <div class="rate-item">
                                <span class="mini-dot mini-yellow"></span>
                                <div class="progress-bar"><div class="progress progress-yellow" style="width: 15%;"></div></div>
                                <span class="percent">15%</span>
                            </div>
                            <div class="rate-item">
                                <span class="mini-dot mini-pink"></span>
                                <div class="progress-bar"><div class="progress progress-pink" style="width: 70%;"></div></div>
                                <span class="percent">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room-temp-content">
                <span class="room-temp-subtitle">더 많은 대화가 필요해요!</span>
                <span class="room-temp-detail">10°C</span>
            </div>
        </div>
    </div>

    <hr class="line">

    <div class="game">
        <div class="round">1라운드</div>
        <div class="game-body">
            <div class="game-subject">주제</div>
            <div class="game-subject-detail">연인과의 만남 횟수로 고민하는 당신,<br>더 선호하는 것은?</div>
            <div class="game-balance">
                <div class="game-balance">
                    <button class="game-balance-a">
                        <span class="game-balance-side">A</span>
                        <span class="game-balance-detail">일주일에 5번 만나자는 연인</span>
                    </button>

                    <button class="game-balance-b">
                        <span class="game-balance-side">B</span>
                        <span class="game-balance-detail">한 달에 한 번 만날 수 있는 연인</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="game-timer">
            <div class="game-time">
                <i class="fa-regular fa-alarm-clock"></i>
                <div class="game-time-detail">05:00</div>
            </div>
            <div class="game-time-btn">
                <button class="game-time-vote">바로 투표하기</button>
                <button class="game-time-extention">5분 연장하기</button>
            </div>
        </div>

        <div class="current-side">
            <div class="current-mem-num">총 4명</div>
            <div class="current-side-dsc">지금은 무승부에요!</div>
            <div class="current-side-score">
                <span class="side-a-score">2</span>
                <span class="side-colon">:</span>
                <span class="side-b-score">2</span>
            </div>
            <div class="current-side-more">자세히 보기 <i class="fa-solid fa-angle-down"></i></div>
        </div>

        <div class="my-side">
            <div class="my-side-dsc">당신은 A SIDE!</div>
            <div class="my-side-toggle-wrapper">

                <!-- 캐릭터 -->
                <img
                    src="{% static 'images/logo_wigul.png' %}"
                    alt=""
                    class="frog"
                    id="frog"

                    data-sit="{% static 'images/logo_wigul.png' %}"
                    data-jump="{% static 'images/logo_wigul.png' %}"
                    data-land="{% static 'images/logo_wigul.png' %}"
                >

                <label class="my-side-toggle">
                    <input
                        class="my-side-toggle-input"
                        id="toggle"
                        type="checkbox"
                    >
                    <span class="slider">
                        <span class="slider-text" id="slider-text">A</span>
                    </span>
                </label>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/game_toggle.js' %}"></script>
<script src="{% static 'js/game_temp_info.js' %}"></script>


{% endblock %}