{% extends 'layouts/default-layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/contact_us.css' %}">

<div class="inquiry-success-container">
    <h1 class="inquiry-success-page-title">문의하기</h1>

    <div class="inquiry-success-content">
        <img src="{% static 'images/wigul_success.png' %}" alt="접수 완료 위굴이" class="inquiry-success-image">
        
        <h2 class="inquiry-success-heading">문의가 접수되었습니다!</h2>
        
        <p class="inquiry-success-desc">
            빠르게 답변 도와드리겠습니다!<br><br>
            보통 1~3 영업일 내에<br>
            답변이 도착해요.
        </p>
    </div>
</div>
{% endblock %}