{% extends 'layouts/default-layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">

<form action="{% url 'edit_information' %}" method="POST" class="profile-edit-container">
    {% csrf_token %} <h1 class="page-title">프로필 수정</h1>

    <div class="input-section">
        <label class="section-label" for="nicknameInput">닉네임</label>
        <input type="text" name="nickname" id="nicknameInput" class="nickname-input" placeholder="수정할 닉네임을 입력해주세요." value="{{ profile.nickname }}">        
        
        <div class="help-text-row">
            <div class="help-text-left">
                <p>• 2~15자 내외</p>
                <p>• 특수문자 사용 불가</p>
            </div>
        </div>
    </div>

    <div class="input-section">
        <label class="section-label">프로필</label>
        
        <div class="profile-selection-box">
            <input type="hidden" name="profile_color" id="selectedColor" value="bg-red">
            <input type="hidden" name="profile_image" id="selectedCharacter" value="{% static 'images/wigul_1.png' %}">

            <div class="preview-container">
                <div class="avatar-preview bg-red" id="avatarPreview">
                    <img src="{% static 'images/wigul_1.png' %}" alt="현재 캐릭터" id="previewImg">
                </div>
            </div>

            <label class="sub-label">배경 색상</label>
            <div class="color-palette">
                <button type="button" class="color-btn bg-red active" data-color="bg-red"></button>
                <button type="button" class="color-btn bg-orange" data-color="bg-orange"></button>
                <button type="button" class="color-btn bg-yellow" data-color="bg-yellow"></button>
                <button type="button" class="color-btn bg-green" data-color="bg-green"></button>
                <button type="button" class="color-btn bg-blue" data-color="bg-blue"></button>
                <button type="button" class="color-btn bg-purple" data-color="bg-purple"></button>
                <button type="button" class="color-btn bg-gray" data-color="bg-gray"></button>
            </div>

            <label class="sub-label">위굴이 캐릭터</label>
            <div class="character-grid">
                <div class="char-item active" data-img="{% static 'images/wigul_1.png' %}"><img src="{% static 'images/wigul_1.png' %}" alt="위굴이1"></div>
                <div class="char-item" data-img="{% static 'images/wigul_2.png' %}"><img src="{% static 'images/wigul_2.png' %}" alt="위굴이2"></div>
                <div class="char-item" data-img="{% static 'images/wigul_3.png' %}"><img src="{% static 'images/wigul_3.png' %}" alt="위굴이3"></div>
                <div class="char-item" data-img="{% static 'images/wigul_4.png' %}"><img src="{% static 'images/wigul_4.png' %}" alt="위굴이4"></div>
                <div class="char-item" data-img="{% static 'images/wigul_5.png' %}"><img src="{% static 'images/wigul_5.png' %}" alt="위굴이5"></div>
                <div class="char-item" data-img="{% static 'images/wigul_6.png' %}"><img src="{% static 'images/wigul_6.png' %}" alt="위굴이6"></div>
                <div class="char-item" data-img="{% static 'images/wigul_7.png' %}"><img src="{% static 'images/wigul_7.png' %}" alt="위굴이7"></div>
                <div class="char-item" data-img="{% static 'images/wigul_8.png' %}"><img src="{% static 'images/wigul_8.png' %}" alt="위굴이8"></div>
                <div class="char-item" data-img="{% static 'images/wigul_9.png' %}"><img src="{% static 'images/wigul_9.png' %}" alt="위굴이9"></div>
                <div class="char-item" data-img="{% static 'images/wigul_10.png' %}"><img src="{% static 'images/wigul_10.png' %}" alt="위굴이10"></div>
                <div class="char-item" data-img="{% static 'images/wigul_11.png' %}"><img src="{% static 'images/wigul_11.png' %}" alt="위굴이11"></div>
                <div class="char-item" data-img="{% static 'images/wigul_12.png' %}"><img src="{% static 'images/wigul_12.png' %}" alt="위굴이12"></div>
                <div class="char-item" data-img="{% static 'images/wigul_13.png' %}"><img src="{% static 'images/wigul_13.png' %}" alt="위굴이13"></div>
                <div class="char-item" data-img="{% static 'images/wigul_14.png' %}"><img src="{% static 'images/wigul_14.png' %}" alt="위굴이14"></div>
                <div class="char-item" data-img="{% static 'images/wigul_15.png' %}"><img src="{% static 'images/wigul_15.png' %}" alt="위굴이15"></div>
                <div class="char-item" data-img="{% static 'images/wigul_16.png' %}"><img src="{% static 'images/wigul_16.png' %}" alt="위굴이16"></div>
                <div class="char-item" data-img="{% static 'images/wigul_17.png' %}"><img src="{% static 'images/wigul_17.png' %}" alt="위굴이17"></div>
                <div class="char-item" data-img="{% static 'images/wigul_18.png' %}"><img src="{% static 'images/wigul_18.png' %}" alt="위굴이18"></div>
                <div class="char-item" data-img="{% static 'images/wigul_19.png' %}"><img src="{% static 'images/wigul_19.png' %}" alt="위굴이19"></div>
                <div class="char-item" data-img="{% static 'images/wigul_20.png' %}"><img src="{% static 'images/wigul_20.png' %}" alt="위굴이20"></div>
                <div class="char-item" data-img="{% static 'images/wigul_21.png' %}"><img src="{% static 'images/wigul_21.png' %}" alt="위굴이21"></div>
                <div class="char-item" data-img="{% static 'images/wigul_22.png' %}"><img src="{% static 'images/wigul_22.png' %}" alt="위굴이22"></div>
                <div class="char-item" data-img="{% static 'images/wigul_23.png' %}"><img src="{% static 'images/wigul_23.png' %}" alt="위굴이23"></div>
                <div class="char-item" data-img="{% static 'images/wigul_24.png' %}"><img src="{% static 'images/wigul_24.png' %}" alt="위굴이24"></div>
                <div class="char-item" data-img="{% static 'images/wigul_25.png' %}"><img src="{% static 'images/wigul_25.png' %}" alt="위굴이25"></div>
                <div class="char-item" data-img="{% static 'images/wigul_26.png' %}"><img src="{% static 'images/wigul_26.png' %}" alt="위굴이26"></div>
                <div class="char-item" data-img="{% static 'images/wigul_27.png' %}"><img src="{% static 'images/wigul_27.png' %}" alt="위굴이27"></div>
                <div class="char-item" data-img="{% static 'images/wigul_28.png' %}"><img src="{% static 'images/wigul_28.png' %}" alt="위굴이28"></div>
                <div class="char-item" data-img="{% static 'images/wigul_29.png' %}"><img src="{% static 'images/wigul_29.png' %}" alt="위굴이29"></div>
                <div class="char-item" data-img="{% static 'images/wigul_30.png' %}"><img src="{% static 'images/wigul_30.png' %}" alt="위굴이30"></div>
                <div class="char-item" data-img="{% static 'images/wigul_31.png' %}"><img src="{% static 'images/wigul_31.png' %}" alt="위굴이31"></div>
                <div class="char-item" data-img="{% static 'images/wigul_32.png' %}"><img src="{% static 'images/wigul_32.png' %}" alt="위굴이32"></div>
                <div class="char-item" data-img="{% static 'images/wigul_33.png' %}"><img src="{% static 'images/wigul_33.png' %}" alt="위굴이33"></div>
                <div class="char-item" data-img="{% static 'images/wigul_34.png' %}"><img src="{% static 'images/wigul_34.png' %}" alt="위굴이34"></div>
                <div class="char-item" data-img="{% static 'images/wigul_35.png' %}"><img src="{% static 'images/wigul_35.png' %}" alt="위굴이35"></div>
                <div class="char-item" data-img="{% static 'images/wigul_36.png' %}"><img src="{% static 'images/wigul_36.png' %}" alt="위굴이36"></div>
                <div class="char-item" data-img="{% static 'images/wigul_37.png' %}"><img src="{% static 'images/wigul_37.png' %}" alt="위굴이37"></div>
                <div class="char-item" data-img="{% static 'images/wigul_38.png' %}"><img src="{% static 'images/wigul_38.png' %}" alt="위굴이38"></div>
                <div class="char-item" data-img="{% static 'images/wigul_39.png' %}"><img src="{% static 'images/wigul_39.png' %}" alt="위굴이39"></div>
                <div class="char-item" data-img="{% static 'images/wigul_40.png' %}"><img src="{% static 'images/wigul_40.png' %}" alt="위굴이40"></div>
                <div class="char-item" data-img="{% static 'images/wigul_41.png' %}"><img src="{% static 'images/wigul_41.png' %}" alt="위굴이41"></div>
                <div class="char-item" data-img="{% static 'images/wigul_42.png' %}"><img src="{% static 'images/wigul_42.png' %}" alt="위굴이42"></div>
                <div class="char-item" data-img="{% static 'images/wigul_43.png' %}"><img src="{% static 'images/wigul_43.png' %}" alt="위굴이43"></div>
                <div class="char-item" data-img="{% static 'images/wigul_44.png' %}"><img src="{% static 'images/wigul_44.png' %}" alt="위굴이44"></div>
                <div class="char-item" data-img="{% static 'images/wigul_45.png' %}"><img src="{% static 'images/wigul_45.png' %}" alt="위굴이45"></div>
                <div class="char-item" data-img="{% static 'images/wigul_46.png' %}"><img src="{% static 'images/wigul_46.png' %}" alt="위굴이46"></div>
                <div class="char-item" data-img="{% static 'images/wigul_47.png' %}"><img src="{% static 'images/wigul_47.png' %}" alt="위굴이47"></div>
                <div class="char-item" data-img="{% static 'images/wigul_48.png' %}"><img src="{% static 'images/wigul_48.png' %}" alt="위굴이48"></div>
                <div class="char-item" data-img="{% static 'images/wigul_49.png' %}"><img src="{% static 'images/wigul_49.png' %}" alt="위굴이49"></div>
                <div class="char-item" data-img="{% static 'images/wigul_50.png' %}"><img src="{% static 'images/wigul_50.png' %}" alt="위굴이50"></div>
                <div class="char-item" data-img="{% static 'images/wigul_51.png' %}"><img src="{% static 'images/wigul_51.png' %}" alt="위굴이51"></div>
                <div class="char-item" data-img="{% static 'images/wigul_52.png' %}"><img src="{% static 'images/wigul_52.png' %}" alt="위굴이52"></div>
                <div class="char-item" data-img="{% static 'images/wigul_53.png' %}"><img src="{% static 'images/wigul_53.png' %}" alt="위굴이53"></div>
                <div class="char-item" data-img="{% static 'images/wigul_54.png' %}"><img src="{% static 'images/wigul_54.png' %}" alt="위굴이54"></div>
                <div class="char-item" data-img="{% static 'images/wigul_55.png' %}"><img src="{% static 'images/wigul_55.png' %}" alt="위굴이55"></div>
                <div class="char-item" data-img="{% static 'images/wigul_56.png' %}"><img src="{% static 'images/wigul_56.png' %}" alt="위굴이56"></div>
                <div class="char-item" data-img="{% static 'images/wigul_57.png' %}"><img src="{% static 'images/wigul_57.png' %}" alt="위굴이57"></div>
                <div class="char-item" data-img="{% static 'images/wigul_58.png' %}"><img src="{% static 'images/wigul_58.png' %}" alt="위굴이58"></div>
                <div class="char-item" data-img="{% static 'images/wigul_59.png' %}"><img src="{% static 'images/wigul_59.png' %}" alt="위굴이59"></div>
                <div class="char-item" data-img="{% static 'images/wigul_60.png' %}"><img src="{% static 'images/wigul_60.png' %}" alt="위굴이60"></div>
                <div class="char-item" data-img="{% static 'images/wigul_61.png' %}"><img src="{% static 'images/wigul_61.png' %}" alt="위굴이61"></div>
                <div class="char-item" data-img="{% static 'images/wigul_62.png' %}"><img src="{% static 'images/wigul_62.png' %}" alt="위굴이62"></div>
                <div class="char-item" data-img="{% static 'images/wigul_63.png' %}"><img src="{% static 'images/wigul_63.png' %}" alt="위굴이63"></div>
                <div class="char-item" data-img="{% static 'images/wigul_64.png' %}"><img src="{% static 'images/wigul_64.png' %}" alt="위굴이64"></div>
                <div class="char-item" data-img="{% static 'images/wigul_65.png' %}"><img src="{% static 'images/wigul_65.png' %}" alt="위굴이65"></div>
                <div class="char-item" data-img="{% static 'images/wigul_66.png' %}"><img src="{% static 'images/wigul_66.png' %}" alt="위굴이66"></div>
                <div class="char-item" data-img="{% static 'images/wigul_67.png' %}"><img src="{% static 'images/wigul_67.png' %}" alt="위굴이67"></div>
                <div class="char-item" data-img="{% static 'images/wigul_68.png' %}"><img src="{% static 'images/wigul_68.png' %}" alt="위굴이68"></div>
                <div class="char-item" data-img="{% static 'images/wigul_69.png' %}"><img src="{% static 'images/wigul_69.png' %}" alt="위굴이69"></div>
                <div class="char-item" data-img="{% static 'images/wigul_70.png' %}"><img src="{% static 'images/wigul_70.png' %}" alt="위굴이70"></div>
            </div>
        </div>
    </div>
    
    <div class="bottom-btn-group">
        <button type="submit" class="primary-btn">저장하기</button>
    </div>
    
</form>

<script src="{% static 'js/profile_edit.js' %}"></script>
{% endblock %}