{% load static %}

<div class="my-rank-modal-overlay">
    <div class="my-rank-modal">

        <button class="my-rank-close-btn">
            <i class="fa-solid fa-angle-down"></i>
            내 방 순위 살펴보기
        </button>

        <div class="ranking-category">
            <span class="ranking-name">랭킹</span>

            <div class="ranking-tab">
                <button class="active" data-target="my-temp-ranking">
                    <i class="fa-solid fa-temperature-three-quarters"></i>
                    최고 온도
                </button>

                <button data-target="my-round-ranking">
                    <i class="fa-solid fa-layer-group"></i>
                    최다 라운드
                </button>

                <button data-target="my-time-ranking">
                    <i class="fa-solid fa-stopwatch"></i>
                    최장 라운드
                </button>

                <button data-target="my-change-ranking">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    최고 변화 횟수
                </button>
            </div>
        </div>


        <!-- 최고 온도 -->
        <div class="ranking-list" id="my-temp-ranking">

            {% for room in my_temp_ranking %}
            <div class="ranking-list-item">

                <div class="ranking-rank">
                    {% if forloop.counter == 1 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/gold_medal.png' %}">
                    {% elif forloop.counter == 2 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/silver_medal.png' %}">
                    {% elif forloop.counter == 3 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/bronze_medal.png' %}">
                    {% else %}
                        <span class="ranking-num">{{ forloop.counter }}</span>
                    {% endif %}
                </div>

                <div class="ranking-room-info">
                    <span class="ranking-room-name">{{ room.title }}</span>
                    <span class="ranking-leader">
                        팀장 {{ room.host.user.username|default:"방장 없음" }}
                    </span>
                </div>

                <span class="ranking-temp">
                    {{ room.temperature }}°C
                </span>

            </div>
            {% endfor %}

        </div>


        <!-- 최다 라운드 -->
        <div class="ranking-list" id="my-round-ranking" style="display:none">

            {% for room in my_round_ranking %}
            <div class="ranking-list-item">

                <div class="ranking-rank">
                    {% if forloop.counter == 1 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/gold_medal.png' %}">
                    {% elif forloop.counter == 2 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/silver_medal.png' %}">
                    {% elif forloop.counter == 3 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/bronze_medal.png' %}">
                    {% else %}
                        <span class="ranking-num">{{ forloop.counter }}</span>
                    {% endif %}
                </div>

                <div class="ranking-room-info">
                    <span class="ranking-room-name">{{ room.title }}</span>
                    <span class="ranking-leader">
                        팀장 {{ room.host.user.username|default:"방장 없음" }}
                    </span>
                </div>

                <span class="ranking-max-round">
                    {{ room.round_count }}회
                </span>

            </div>
            {% endfor %}

        </div>


        <!-- 최장 라운드 -->
        <div class="ranking-list" id="my-time-ranking" style="display:none">

            {% for room in my_time_ranking %}
            <div class="ranking-list-item">

                <div class="ranking-rank">
                    {% if forloop.counter == 1 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/gold_medal.png' %}">
                    {% elif forloop.counter == 2 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/silver_medal.png' %}">
                    {% elif forloop.counter == 3 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/bronze_medal.png' %}">
                    {% else %}
                        <span class="ranking-num">{{ forloop.counter }}</span>
                    {% endif %}
                </div>

                <div class="ranking-room-info">
                    <span class="ranking-room-name">{{ room.title }}</span>
                    <span class="ranking-leader">
                        팀장 {{ room.host.user.username|default:"방장 없음" }}
                    </span>
                </div>

                <span class="ranking-max-time">
                    {{ room.duration_display }}
                </span>

            </div>
            {% endfor %}

        </div>


        <!-- 최고 변화 횟수 -->
        <div class="ranking-list" id="my-change-ranking" style="display:none">

            {% for room in my_change_ranking %}
            <div class="ranking-list-item">

                <div class="ranking-rank">
                    {% if forloop.counter == 1 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/gold_medal.png' %}">
                    {% elif forloop.counter == 2 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/silver_medal.png' %}">
                    {% elif forloop.counter == 3 %}
                        <img class="ranking-medal-img"
                             src="{% static 'images/bronze_medal.png' %}">
                    {% else %}
                        <span class="ranking-num">{{ forloop.counter }}</span>
                    {% endif %}
                </div>

                <div class="ranking-room-info">
                    <span class="ranking-room-name">{{ room.title }}</span>
                    <span class="ranking-leader">
                        팀장 {{ room.host.user.username|default:"방장 없음" }}
                    </span>
                </div>

                <span class="ranking-max-change">
                    {{ room.sum_changes|default:0 }}회
                </span>

            </div>
            {% endfor %}

        </div>

    </div>
</div>