{% load static %}

<div class="time-detail-modal-overlay">
    <div class="time-detail-modal">

        <div class="time-detail-rank">1위</div>

        <div class="time-detail-room-name">
            가나다라마바사
        </div>

        <div class="time-detail-leader">
            팀장: 오도독
        </div>

        <div class="time-detail-time">
            <i id="detail-icon" class="fa-regular fa-clock"></i>
            <span id="detail-value">14:30</span>
        </div>

        <button class="time-detail-close-btn">
            창 닫기
        </button>

    </div>
</div>